@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 400;
    src: url(/font/Vazirmatn-Regular.ttf) format("woff");
  }
}

.active-slide {
  @apply border-2 border-white/70 dark:border-black/50;
}

.show {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(168, 85, 247);
}

::-webkit-scrollbar-track {
  background-color: rgba(180, 125, 232, 0.541);
}

* {
  scroll-behavior: smooth;
}
